{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title%}
<title>Create Profile</title>
{% endblock %}
{% block content %}
<style>
    h2{
        margin-right:30%;
    }
    form.form-group{
        width:100%;
        margin-left:0.6%;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 10px ;
        border-radius:1%;
        margin: 50px auto;
    }
    .col-md-8{
        background-image: url("https://images.wallpaperscraft.com/image/monaco_night_home_port_boats_mountains_58403_1280x720.jpg");
        background-size:cover;
        background-color: #5f6769;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height:950px;
        width:100%;
        padding:18px;
    }
    .col-md-8 {
        background-color:#5f6769;
        text-align: center;
        color:#fff;
        padding-top:10em;
    }
    h1{
        color:#fff;
        font-size:60px;
        font-family: 'Srisakdi', cursive;
        top:50%;
    }
    h2{
        font-size:45px;
        text-decoration:underline;
    }
    a{
        color: white;
    }
</style>

<div class="container-fluid mb-0">
    <div class="row">
        <div class="col-md-8">
            
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Create Profile</h2>
            <form action="{% url 'create_profile' %}" class="form-group mt-1" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{u_form|crispy}}
                    {{p_form|crispy}}
                    <button type="submit" class="btn btn-secondary ">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
